@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;400&display=swap');

$primary-color: #2196f3;
$font-color: rgb(66, 66, 66);

#app {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: $primary-color;
}

.white-color {
    color: #fff !important;
}

.normal-font {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: $font-color;
}
.bold-font {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: $font-color;
}

.big-font {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    font-weight: 700;
    color: $font-color;
}

.small-font {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: $font-color;
}

.special-font {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.back-button {
    border: none;
    border-radius: 100%;
    width: 31px;
    text-align: center;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    position: fixed;
    top: 14px;
    height: 31px;
    left: 15px;
    cursor: pointer;
    background: #dbdbdb;
    padding-right: 8px;
    z-index: 5;

    img {
        width: 12px;
        height: 15px;
        filter: brightness(0);
    }
}

.error-background {
    background-color: #f44336;
    color: #fff;
}
.success-background {
    background-color: #4caf50;
    color: #fff;
}

.primary-background{
    background-color: $primary-color;
    color: #fff;
}

.centralize-text {
    text-align: center;
}

.darker {
    filter: brightness(60%);
}

@keyframes slide-left-disappear {
    0% { transform: translateX(0) }
    99% { transform: translateX(100vw) }
    100% { transform: translateX(100vw); opacity: 0; }
}

@keyframes rotating {
    0% { transform: rotate(0) scale(1) }
    50% { transform: rotate(180deg) scale(1.4) }
    100% { transform: rotate(360deg) scale(1) }
}
  
@keyframes slide-right-appear {
    0% { transform: translateX(-100vw); opacity: 0; }
    99% { transform: translateX(0vw); opacity: 1; }
    100% { transform: translateX(0vw); opacity: 1 }
}

@keyframes slide-right-disappear {
    0% { transform: translateX(-100vw); opacity: 1; }
    99% { transform: translateX(0vw); opacity: 0; }
    100% { transform: translateX(0vw); opacity: 0 }
}

@keyframes slide-left-appear {
    0% { transform: translateX(0); opacity: 0; }
    99% { transform: translateX(100vw); opacity: 1; }
    100% { transform: translateX(100vw); opacity: 1; }
}
